<!DOCTYPE HTML>
<html ng-app ="storeLocatorApp">
    <head>
        <title>Store Locator</title>
        <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.css") }}>
        <link rel="stylesheet" href={{ url_for('static', filename="css/style.css") }}>           
        <script src="{{ url_for('static', filename="js/lib/bootstrap/bootstrap.min.js") }}"></script>
        <script src="{{ url_for('static', filename="js/lib/angular/angular.min.js") }}"></script>       
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
        <link rel="shortcut icon" href="">   
    </head>
    <body ng-controller="storeController">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Store Locator
                    </a>
                </div>
            </nav>
            <div id="input-form-container" class="container">
            <form id="input-form" ng-submit="updateStoreList()">
                <label for='user-location'>Enter your location
                </label>
                <input type ="text" id="user-location" name="user-location"  size="50">               
                </input>
                <input type="submit" value="Submit" id="submit" /> <br>
                <label> *Press Submit to get nearby stores </label> 
            </form>
            </div>
            <div id="main" class="container">
                <h2><b>Stores Nearby You</b></h2>
                <table class="table table-striped">
                    <tr>
                        <td><b>Store Id</b></td>
                        <td><b>Address</b></td>
                        <td><b>Pincode</b></td>
                        <td><b>Distance</b></td>
                    </tr>
                    <tr ng-repeat="store in stores">
                        <td ng-bind="store.id"></td>
                        <td ng-bind="store.address"></td>
                        <td ng-bind="store.pincode"></td>
                        <td> 1km </td>           
                    </tr>
                </table>    
            </div> 
        <script src="{{ url_for('static', filename="/js/app.js") }}">
        </script>          
    </body>
</html>
   
    