<!DOCTYPE HTML>
<html ng-app ="storeLocatorApp">
    <head>
        <title>Store Locator</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename="bower_components/bootstrap/dist/css/bootstrap.min.css") }}">
        <link rel="stylesheet" href={{ url_for('static', filename="css/style.css") }}> 

        <script src="{{ url_for('static', filename="bower_components/bootstrap/dist/js/bootstrap.min.js") }}"> </script> 
        <script src="{{ url_for('static', filename="bower_components/angular/angular.min.js") }}"> </script> <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
        <link rel="shortcut icon" href="">   
    </head>
    <body ng-controller="storeController">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Store Locator
                    </a>
                </div>
            </nav>
            <div id="input-form-container" class="container">
            <form id="input-form" ng-submit="updateStoreList()">
                <label for='user-location'>Enter your location
                </label>
                <input type ="text" id="user-location" name="user-location"  size="50">               
                </input>
                <input type="submit" value="Submit" id="submit" /> <br>
                <label> *Press Submit to get nearby stores </label> 
            </form>
            </div>
            <div id="main" class="container">
                <h2><b> 5 Stores Nearby You</b></h2>
               
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th><b> SR NO </b></th>
                            <th><b> Address </b></th>
                            <th><b> Pincode </b></th>
                            <th><b> Distance ( in KM )</b></th>
                            <th><b> Estimated Duration </b></th>
                            <th><b> Map-Directions </b></th>
                        </tr>
                        {% raw %}
                        <tr ng-repeat="store in stores | orderBy: 'distance'">
                            <td ng-bind = "$index + 1" > </td>
                            <td ng-bind = "store.address" id="address-{{ store.id }}">                         
                            </td>
                            <td ng-bind = "store.pincode"></td>
                            <td ng-bind = "store.distance"></td> 
                            <td ng-bind = "store.estimatedDuration"></td> 
                            <td> <a id="{{ store.id }}" href="#" ng-click ="showMap($event)"> show </a> </td>     
                        </tr>
                        {% endraw %}
                    </tbody>
                    
                </table>  
               
            </div> 
        <script src="{{ url_for('static', filename="/js/app.js") }}">
        </script>          
    </body>
</html>